In [1]:
import pandas as pd
import numpy as np

In [4]:
tb = pd.read_excel('cross validation.xlsx', index_col=None)

In [9]:
tb

,Estimator,Year Control,Industry Control,Predicted Regressor,CV-RMSE (5),CV-RMSE (10),AIC,BIC
0,OLS,No,No,No,"2,350.14","2,266.80","4,252.54","4,290.40"
1,OLS,Yes,No,No,"2,288.05","2,135.72","4,256.19","4,304.39"
2,OLS,Yes,Yes,No,"2,663.63","2,234.01","4,256.58","4,318.54"
3,MM,No,No,No,"2,246.88","2,107.01",-,-
4,MM,Yes,No,No,"2,284.12","2,119.07",-,-
5,MM,Yes,Yes,No,"2,289.29","2,134.28",-,-
6,OLS,No,No,No,12.08,10.47,"1,687.40","1,721.83"
7,Tobit,No,No,No,11.47,10.46,"1,317.54","1,355.40"
8,Tobit,Yes,Yes,No,12.15,11.18,"1,324.06","1,386.02"
9,MM,No,No,Yes,"2,226.91","2,128.25",-,-
10,MM,Yes,No,Yes,"2,243.69","2,177.49",-,-
11,MM,Yes,Yes,Yes,"2,341.05","2,036.66",-,-

In [6]:
tb = tb.fillna('-')

In [8]:
pd.options.display.float_format = '{:20,.2f}'.format

In [10]:
print (tb.to_latex(index=False,column_format= 'cccccccc'))

\begin{tabular}{cccccccc}
\toprule
Estimator & Year Control & Industry Control & Predicted Regressor &          CV-RMSE (5) &         CV-RMSE (10) &                  AIC &                  BIC \\
\midrule
      OLS &           No &               No &                  No &             2,350.14 &             2,266.80 &             4,252.54 &             4,290.40 \\
      OLS &          Yes &               No &                  No &             2,288.05 &             2,135.72 &             4,256.19 &             4,304.39 \\
      OLS &          Yes &              Yes &                  No &             2,663.63 &             2,234.01 &             4,256.58 &             4,318.54 \\
       MM &           No &               No &                  No &             2,246.88 &             2,107.01 &                    - &                    - \\
       MM &          Yes &               No &                  No &             2,284.12 &             2,119.07 &                    - &                    - \\
       MM &          Yes &              Yes &                  No &             2,289.29 &             2,134.28 &                    - &                    - \\
      OLS &           No &               No &                  No &                12.08 &                10.47 &             1,687.40 &             1,721.83 \\
    Tobit &           No &               No &                  No &                11.47 &                10.46 &             1,317.54 &             1,355.40 \\
    Tobit &          Yes &              Yes &                  No &                12.15 &                11.18 &             1,324.06 &             1,386.02 \\
       MM &           No &               No &                 Yes &             2,226.91 &             2,128.25 &                    - &                    - \\
       MM &          Yes &               No &                 Yes &             2,243.69 &             2,177.49 &                    - &                    - \\
       MM &          Yes &              Yes &                 Yes &             2,341.05 &             2,036.66 &                    - &                    - \\
\bottomrule
\end{tabular}