In [98]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns

In [99]:
settledata = pd.DataFrame.from_csv('settledata.csv', index_col=None)
news = pd.DataFrame.from_csv('news.csv', index_col=None)
inst = pd.DataFrame.from_csv('instholding.csv', index_col=None)

In [100]:
news['Class_end'] = pd.to_datetime(news['Class_end'] .astype(str), format="%d/%m/%Y")
news['Settle_date'] = pd.to_datetime(news['Settle_date'] .astype(str), format="%d/%m/%Y")

In [101]:
settledata['classend'] = pd.to_datetime(settledata['classend'] .astype(str), format="%Y-%m-%d")
settledata['settledate'] = pd.to_datetime(settledata['settledate'] .astype(str), format="%Y-%m-%d")

In [102]:
news = news.rename(columns={'Settle_date':'settledate','Class_end':'classend'})

In [103]:
settledata = pd.merge (settledata, news, how = "inner", on =['tic','classend','settledate'])

In [104]:
settledata = settledata.replace([np.inf, -np.inf], np.nan)

In [105]:
m1 = settledata.fillna(0)

In [106]:
m1.columns = map(str.lower, m1.columns)

In [107]:
m1.columns

Index(['tic', 'settledate', 'cret', 'car', 'bhar', 'number', 'classend',
       'ceyr', 'month', 'gap', 'lgap', 'settleamt', 'year', 'styr', 'gvkey',
       'date', 'fyear_st', 'at_st', 'capx_st', 'ceq_st', 'dltt_st', 'dp_st',
       'dt_st', 'ebit_st', 'revt_st', 'setp_st', 'txpd_st', 'wcap', 'xintd_st',
       'mkvalt_st', 'sic', 'f_month', 'wcap_1_st', 'dwcap_st', 'ebit_1_st',
       'fcf_st', 'fcf_1_st', 'size_st', 'debtratio_st', 'm2b_st',
       'classification', 'accounting', 'secondary market & trading',
       'financial intermediatary',
       'non-accounting disclsoure and misrepresentation', 'others', 'fyear_ce',
       'at_ce', 'capx_ce', 'ceq_ce', 'dltt_ce', 'dp_ce', 'dt_ce', 'ebit_ce',
       'revt_ce', 'setp_ce', 'txpd_ce', 'wcap_ce', 'xintd_ce', 'mkvalt_ce',
       'wcap_1_ce', 'dwcap_ce', 'ebit_1_ce', 'fcf_ce', 'fcf_1_ce', 'size_ce',
       'debtratio_ce', 'm2b_ce', 'prc', 'vol', 'shrout', 'sprtrn', 'vt',
       'share turnover', 'abnormal volume', 'abnormal share turnover',
       'skewness', 'news_st', 'news_ce', 'news_winner_st', 'news_winner_ce',
       'confounding'],
      dtype='object')

In [108]:
m2 = inst[['rdate','tic','InstOwn_HHI','InstOwn_Perc']]

In [109]:
m2.columns = map(str.lower, m2.columns)

In [110]:
#m2 = m2.rename(columns={'rdate':'settledate'})

In [111]:
m3 = m1[['tic','settledate','number','styr']]

In [112]:
m2['styr'] = pd.DatetimeIndex(m2['rdate']).year

D:\anaconda\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [128]:
m2['rdate'] = pd.to_datetime(m2['rdate'] .astype(str), format="%m/%d/%Y")

D:\anaconda\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [146]:
m4 = pd.merge(m2, m3, how = "right", on =['tic'])

In [147]:
m4.head()

,rdate,tic,instown_hhi,instown_perc,styr_x,settledate,number,styr_y
0,2004-03-31,ADEX,0.228442,0.547711,2004,2006-07-10,103639,2006
1,2004-06-30,ADEX,0.203529,0.579488,2004,2006-07-10,103639,2006
2,2004-09-30,ADEX,0.149687,0.673882,2004,2006-07-10,103639,2006
3,2004-12-31,ADEX,0.147971,0.672944,2004,2006-07-10,103639,2006
4,2005-03-31,ADEX,0.133650,0.699961,2005,2006-07-10,103639,2006

In [148]:
m4 = m4.fillna(0)

In [149]:
m4['diff'] = m4['rdate'] - m4['settledate']

In [150]:
try:
    m4['diff'] = m4['diff'].astype(pd.Timedelta).apply(lambda l: l.days)
except:
    m4['diff'] = 0

In [152]:
m4 = m4[m4['diff']<=0]

In [156]:
m4 = m4.drop_duplicates(subset = 'number', keep='last')

In [162]:
m4.columns

Index(['rdate', 'tic', 'instown_hhi', 'instown_perc', 'styr_x', 'settledate',
       'number', 'styr_y', 'diff'],
      dtype='object')

In [163]:
m5 = m4[['number','instown_hhi', 'instown_perc']]

In [165]:
finish = pd.merge(m1, m5, how = "left", on =['number'])

In [173]:
finish['instown_hhi'] = finish['instown_hhi']*100
finish['instown_perc'] = finish['instown_perc']*100

In [174]:
finish.to_csv('dataF.csv', encoding='utf-8',index=False)